{{ define "alert"}}
{{ template "headboard"}}

<div class="card">

  <div class="card-header"
    users
  </div>

  <div class="card-body w-50 m-auto border rounded shadow p-3 mb-5 bg-body" >


<div class="alert alert-danger">Incorrect username or password, press Home to try again</div>

{{template "footer"}}
      

{{end}}