{{ define "alert2"}}
{{ template "headboard"}}

<div class="card">

  <div class="card-header"
    users
  </div>

  <div class="card-body w-50 m-auto border rounded shadow p-3 mb-5 bg-body" >


<div class="alert alert-danger">Incorrect username duplicate, press SingUp to try again</div><a class="nav-item nav-link" href="/create">SingUp</a>

{{template "footer"}}
      

{{end}}