{{ define "create"}}
{{ template "headboard"}}

<div class="card">

  <div class="card-header"
    users
  </div>

  <div class="card-body w-50 m-auto border rounded shadow p-3 mb-5 bg-body" >
    <form method="post" action="/insert">

      <h1 m-auto text-center> Sing up </h1>
          <br/>

      <div class="form-group">

            <input type="text"
              class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="User Name">

          </div>
          <br/>
          <div class="form-group">

            <input type="password"
              class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Password">

          </div>
      <br/>
          <div class="form-group">

            <input type="password"
              class="form-control" name="confirmpwd" id="confirmpwd" aria-describedby="helpId" placeholder="Confirm Password">

          </div>
  <br/>
          <div class="form-group">

            <input type="text"
              class="form-control" name="firstname" id="firstname" aria-describedby="helpId" placeholder="First Name">

          </div>
  <br/>
          <div class="form-group">

            <input type="text"
              class="form-control" name="lastname" id="lastname" aria-describedby="helpId" placeholder="Last Name">

          </div>
  <br/>
          <div class="form-group">

            <input type="date"
              class="form-control" name="birthdate" id="birthdate" aria-describedby="helpId" placeholder="Birthday">

          </div>

          <div class="form-group">

          <div class="form-group">

  <br/>

            <input type="text"
              class="form-control" name="country" id="country" aria-describedby="helpId" placeholder="Country">

          </div>
  <br/>

          <select name="universidad" id="universidad" aria-describedby="helpId" placeholder="Universidad">
          <option value="r">University</option>
          <option value="Icesi">Icesi</option>
          <option value="v"></option>
          </select>
  <br/>
  <br/>
          <button type="submit" class="btn btn-primary" herf="/insert">save</button>

          <button type="submit" class="btn btn-primary w-25">Cancel</button>
    </form>
  </div>
</div>

{{ template "footer"}}



{{end}}