{{define "create"}}
{{template "headboard"}}

<div class="card">
    <div class="card-header">
        Sign Up
    </div>


    <div class="card-body">
        <form method="post" action="/insert">

        <div class="form-group">
          <label for="">User Name</label>
          <input type="text"
            class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input type="text"
            class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Confirm Pwd</label>
          <input type="text"
            class="form-control" name="confirmpwd" id="confirmpwd" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Firstname</label>
          <input type="text"
            class="form-control" name="firstname" id="firstname" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Lastname</label>
          <input type="text"
            class="form-control" name="lastname" id="lastname" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Birthdate</label>
          <input type="text"
            class="form-control" name="birthdate" id="birthdate" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <a name="" id="" class="btn btn-primary" href="/information" role="button">save</a>

        <button type="submit" class="btn btn-primary">Cancel</button>


        </form>


    </div>
</div>
{{template "footer"}}

{{end}}