{{define "create"}}
{{template "headboard"}}

<div class="card">
    <div class="card-header">
        Sign Up
    </div>


    <div class="card-body">
        <form method="post" action="/insertar">

        <div class="form-group">
          <label for="">User Name</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Confirm Pwd</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Firstname</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Lastname</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="form-group">
          <label for="">Birthdate</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

        <button type="submit" class="btn btn-primary">Cancel</button>


        </form>


    </div>
</div>
{{template "footer"}}

{{end}}