# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\JUAN FERNANDO\OneDrive - Universidad Icesi (@icesi.edu.co)\Documentos\icesi\4 semestre\Integrador 1\taller go\GoApp-UserRegister\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
